@font-face {
    font-family: 'Calculator';
    src: url('fonts/Calculator.ttf');
}

@font-face {
    font-family: 'Pixelated';
    src: url('fonts/Pixelated.ttf');
}

html { 
    height: 100%;
    background: rgb(163,189,237);
    background: linear-gradient(180deg, rgba(163,189,237,1) 50%, rgba(105,145,199,1) 100%); 
}

p {
    margin: 5px;
    height: 40px;
}

.container {
    display: flex;
    justify-content: center;
}

.calculator {
    background-color: #394e69;
    width: 400px;
    padding: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.display {
    border-style: inset;
    border-radius: 5px;;
    background-color: #aaaa84;
    width: auto;
    height: 100px;
    margin: 20px;
}

#operations {
    font-family: 'Pixelated';
    font-size: xx-large;
    overflow-x: hidden;
}

#result {
    font-family: 'Calculator';
    font-size: 2.7em;
    font-weight: 900;
    text-align: right;
    overflow-x: hidden;
    overflow-y: hidden;
}

.buttons {
    height: 300px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
}

button {
    background-color: #9ba3a5;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    color: white;
    font-weight: bold;
}

#delete {
    background-color: #ab8490;
}

#clear {
    background-color: #ab8490;
}

#digit-0 {
    grid-column-start: 1;
    grid-column-end: 3;
}

#equal {
    grid-column-start: 4;
    grid-row-start: 4;
    grid-row-end: 6;
} 